<ion-view title="脸呼">
    <ion-nav-buttons side="right" ng-if="!isLogin || !isComplete">
        <a class="button button-clear font-small" href="#/tab/login">登录</a>
    </ion-nav-buttons>
    <ion-content overflow-scrolling="true">
        <div ng-if="supportVideo && isComplete">
            <div class="ion-flex" ng-click="askNotice()">
                <a ng-repeat="item in users" href="#/tab/detail/{{item.userName}}">
                    <img ng-src="/avatar/{{item.userName}}.100.png"/>
                    <i ng-class="item.online ? 'user_status online' : 'user_status offline'"></i>
                </a>
                <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
            </div>
        </div>
        <div ng-if="!supportVideo || !isLogin || !isComplete">
            <a href="#/tab/login" ng-if="supportVideo" class="home-tip">请先登录,以开启您的视频之旅！</a>
            <div class="unvalid-home">
                <a href="#/tab/login"><img src="/images/avatar/multi.jpg"/></a>
            </div>
            <div class="siteInfo"><a href="http://www.miibeian.gov.cn/" target="_blank">京备案号：京ICP备14041687号-1</a></div>
        </div>
    </ion-content>
</ion-view>
