<ion-view title="设置个人图像" ng-controller="takeCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">取消</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="take">
            <div class="video flex vmiddle hcenter">
                <video id="face" autoplay></video>
            </div>
            <div class="buttons">
                <div id="take">
                    <a class="shoot" ng-click="taking()"></a>
                </div>
                <div id="choose" class="row hidden">
                    <div class="col">
                        <a class="button icon-left ion-android-checkmark button-positive" ng-click="choose()">使用照片</a>
                    </div>
                    <div class="col">
                        <a class="button icon-left ion-android-close button-stable" ng-click="reset()">重&nbsp;&nbsp;拍</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
