<ion-view title="设置头像">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">返回</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="take-tip flex hcenter vmiddle">
            <div class="cons">
                <p class="p1">欢迎来到脸呼，我们将为您开启无与伦比的交友之旅。</p>
                <p class="p2">在这里，我们以真面目示人；</p>
                <p class="p3">在这里，我们不戴面具，坦诚相见。</p>
                <p class="p4">我们相信，充斥着无数面具、马甲的互联网，需要一个与众不同的新世界。</p>
                <p class="p5">建立这个新世界并不容易，但你会发现，这其实也不难，只需要你和我们一样：</p>
                <p class="p6 assertive">打开摄像头，留下您真实的头像，我们面对面坦诚交流。</p>
                <p class="p7">欢迎您加入我们，一起创造脸呼，开辟崭新的真世界。</p>

                <div class="buttons"><a href="{{takeURL}}" class="button button-positive">马上设置您的头像</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
